'context-menu':
  'atom-text-editor': [
    'label': 'Join'
    'submenu': [
      {
        'label': 'Join'
        'command': 'join-plus:join-csv'
      },
      {
        'label': 'Join quoted by \''
        'command': 'join-plus:join-csv-single-quote'
      },
      {
        'label': 'Join quoted by \"'
        'command': 'join-plus:join-csv-double-quote'
      }
      {
        'label': 'Unjoin '
        'command': 'join-plus:unjoin-csv'
      }
    ]
  ]
